* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1.5rem 6rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .logo {
    display: flex;
    align-items: center;
    margin-top: -2rem;
    margin-left: 5%;
    padding: 0.5rem;
  }
  nav li{
    margin: 0 15px;
    list-style-type: none;
  }
  .nav a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(133, 133, 133);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s ease-in-out;
  }
  
  .nav a:hover::after {
    width: 100%;
  }
  
  .nav a {
    text-decoration: none;
    color: rgb(145, 145, 145);
    padding: 0 10px;
    position: relative;
    font-size: 20px;
  }
  
  .logo h1 {
    color: rgb(146, 146, 146);
  }
  .nav-list {
    display: flex;
    align-items: center;
    margin-top: -15px;
  }
  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
.card-lista .card-item .card-link{
    width: 400px;
    background: #f1f1f1;
    padding: 18px;
    border-radius: 12px;
    display: block;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    transition: 0.2s ease;
}
.card-lista .card-item .card-link:hover{
 border-color: #5372f0;
}
.card-lista .card-item{
    list-style: none;
}
.card-lista  .card-link .card-imagem{
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.card-lista .card-link .item{
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px  0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}
.card-titulo .card-link .lista{
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}
.card-lista .card-link .card-button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid #5372f0;
    background: none;
    cursor: pointer;
    color: #5372f0;
    transform: rotate(-45deg);
}
.card-lista .card-link:hover .card-button {
 color: white;   
 background: #5372f0;
}
.card-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.pagina {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.filtro {
        width: 200px;
        margin-right: 40px; 
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
}
.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.page-button {
  padding: 10px 20px;
  font-size: 1.4rem;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



#page-indicator {
  font-size: 1.1rem;
  font-weight: bold;
}
