.product-container {
  display: flex;
  overflow: hidden;
  width: 200px; /* Ajuste conforme necessário */
}

.product-page {
  display: none;
  flex-direction: column;
}

.product-page.active {
  display: flex;
}

.product {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
}
